/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    /* Cor de fundo clara */
}

.navbar {
    background-color: #ffe4e1;
    /* Cor pastel para a navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #ffb6c1;
    /* Cor pastel ao passar o mouse ou link ativo */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1,
p {
    position: relative;
    /* Garante que o posicionamento seja relativo ao contêiner pai */
    left: -350px;
    /* Move os elementos para a esquerda */
    bottom: 35px;
}

.content img {
    max-width: 100%;
    height: auto;
    position: relative;
    /* Garante que o posicionamento seja relativo ao contêiner pai */
    left: 20px;
    /* Move a imagem alguns pixels para a direita */
    bottom: 20px;
    /* Move a imagem alguns pixels para baixo */
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: relative;
    /* Garante que o posicionamento seja relativo ao contêiner pai */
    left: -350px;
    /* Move os botões para a mesma posição do h1 e p */
    bottom: 35px;
    /* Move os botões para a mesma posição do h1 e p */
}

.buttons button {
    padding: 10px 20px;
    /* Ajusta o padding para os botões ficarem menores */
    font-size: 16px;
    border-radius: 20px;
    /* Define o formato de pílula para os botões */
    background-color: #ffb6c1;
    /* Cor pastel para botões */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    /* Adiciona transições suaves */
}

.buttons button:hover {
    transform: scale(1.1);
    background-color: #ff8a8a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}