@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #eaeaea; /* Cor de fundo do body */
}

section, footer {
    padding: 54px 0; /* Padding para section e footer */
}

.logo {
    width: 300px;
    height: 100px;
}

h1 {
    font-size: 50px;
}

p {
    color: #0a090c;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #8a2be2;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.1s;
    margin-right: 15px; /* Adiciona espaçamento entre os botões */
}

.btn:last-child {
    margin-right: 0; /* Remove o espaçamento no último botão */
}

.btn:hover {
    background-color: #7000d8;
}

header {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none; /* Remove os marcadores da lista */
}

nav ul a {
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav ul a:not(.btn)::after {
    content: "";
    background-color: #5500ff;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
    margin: 0 auto;
}

nav ul a:hover::after {
    width: 100%;
}

/*menu mobile*/
nav .menu-icon {
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: none;
}

nav .close-icon {
    display: none;
    font-size: 40px;
    color: white;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner-text {
    margin: 150px;
    text-align: center;
    padding: 0;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: white;
    letter-spacing: -2px; /* Ajuste para espaçamento entre letras */
}

.banner .banner-text p {
    font-size: 20px;
    color: #ffffb7;
    font-weight: lighter;
    margin: 18px 0;
    letter-spacing: -0.5px; /* Ajuste para espaçamento entre letras */
}

/*Parte dois*/
.login .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que os itens sejam quebrados para o próximo nível */
}

.login .mais_tx {
    width: 50%;
    padding: 0 40px;
    flex-grow: 1; /* Permite que o item cresça para ocupar o espaço disponível */
}

.login .mais_tx h3 {
    font-size: 53px;
    letter-spacing: -1px; /* Ajuste para espaçamento entre letras */
}

.login .mais_tx p {
    margin: 5px 0 10px;
    font-size: 14px; /* Tamanho menor para parágrafos */
}

.mais_designer_img {
    width: 50%;
    order: 1; /* Muda a ordem do elemento para aparecer primeiro no layout móvel */
    flex-grow: 1; /* Permite que o item cresça para ocupar o espaço disponível */
}

.mais_designer_img img {
    width: 100%;
    max-width: 80%; /* Reduz o tamanho máximo da imagem para se ajustar ao conteúdo */
    margin-right: 20px; /* Adiciona espaçamento entre as imagens */
}

.apresentando h3 {
    text-align: center;
    font-size: 56px;
    letter-spacing: -1px; /* Ajuste para espaçamento entre letras */
}

.apresentando p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px; /* Tamanho menor para parágrafos */
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Ajuste para evitar quebra de linha */
}

.apresentando .card-item {
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: calc(20% - 30px); /* Ajuste para 5 cards em linha */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; /* Adiciona padding interno */
    transition: 0.3s;
}

.apresentando .card-item img {
    border-radius: 100%;
    width: 80px;
    display: block;
    margin-bottom: 15px; /* Adiciona margem abaixo da imagem */
}

.apresentando .card-item .user-name {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.apresentando .card-item .sobre-nos {
    font-size: 15px;
    padding: 0 15px;
    transition: 0.3s;
}

.apresentando .card-item:hover {
    background-color: #944bd8;
    margin-top: -5px;
}

.apresentando .card-item:hover .user-name {
    color: white;
}

.apresentando .card-item:hover .sobre-nos {
    color: white;
}

.footer {
    background-color: #8a2be2;
    text-align: center;
}

.footer i {
    color: #8a2be2;
    font-size: 19px;
    background-color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.footer p {
    margin-top: 10px;
    color: white;
}

@media (max-width: 830px) {
    .ul {
        position: fixed;
        top: 0;
        left: 0;
        background: #2b7bdd;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        clip-path: circle(0 at 100% 0);
        transition: 0.7s;
    }

    .ul.open {
        clip-path: circle(141.2% at 100% 0);
    }

    .ul a {
        margin: 10px 0;
        font-size: 16px;
    }

    nav .menu-icon {
        display: block;
    }

    nav .close-icon {
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
    }
    .logo {
        width: 250px;
        height: 90px;
    }

    .banner-text {
        margin: 20px;
    }

    .banner .banner-text h1 {
        font-size: 36px;
    }

    .banner .banner-text p {
        font-size: 12px;
    }

    .login .container {
        flex-direction: column;
    }

    .login .mais_tx,
    .mais_designer_img {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .login .mais_tx h3 {
        font-size: 36px; /* Tamanho menor para h3 */
    }

    .login .mais_tx p {
        font-size: 12px; /* Tamanho menor para parágrafos */
    }

    .mais_designer_img img {
        margin-left: 0;
        width: 60%;
        margin-left: 40px;
    }

    .cards {
        flex-wrap: wrap;
    }

    .apresentando .card-item {
        width: calc(50% - 30px); /* Ajuste para 2 cards por linha no mobile */
    }

    .apresentando .card-item img {
        width: 60px;
    }
}

@media (max-width: 480px) {
    .banner .banner-text h1 {
        font-size: 48px;
    }

    .banner .banner-text p {
        font-size: 14px;
    }

    .logo {
        width: 200px;
        height: 80px;
    }

    .apresentando .card-item {
        width: 100%;
    }
    .apresentando .container h3 {
        font-size: 48px; /* Define o tamanho do h3 para 48px */
    }
}
